*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 200px;
    height: 200px;
}
.box1{
    background: blue;
}
.box2{
    background: red;
}
.box3{
    background: yellow;
}
.box4{
    background: green;
}